name: Checks

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  typing:
    runs-on: "ubuntu-latest"

    name: Type checking
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Hatch
        uses: pypa/hatch@install

      - name: Type checking
        run: |
          hatch run checks:typing

  linting:
    runs-on: "ubuntu-latest"

    name: Linting
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Hatch
        uses: pypa/hatch@install

      - name: Linting
        run: |
          hatch run checks:linting

  clang-format:
    runs-on: "ubuntu-latest"

    name: Clang format
    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install Hatch
      uses: pypa/hatch@install

    - name: Clang format
      run: |
        hatch run checks:cformat --dry-run -Werror
