name: Tests

on:
  push:
    branches:
      - main
  pull_request:

concurrency: 
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  tests-linux:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11", "3.12"]

    name: Tests with Python ${{ matrix.python-version }} on ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}-dev

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install libunwind-dev lzma-dev

      - name: Run tests
        run: |
          pip install hatch
          hatch -e "tests.py${{ matrix.python-version }}" run tests

      # - name: Publish coverage metrics
      #   run: |
      #     cd $GITHUB_WORKSPACE/main
      #     hatch -e coverage run cov
      #     hatch -e coverage run codecov
      #   if: matrix.python-version == '3.10'
      #   env:
      #     CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}

  tests-macos:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11", "3.12"]

    name: Tests with Python ${{ matrix.python-version }} on macos-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}-dev

      - name: Run tests
        run: |
          pip install hatch
          hatch -e "tests.py${{ matrix.python-version }}" run tests
